* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    background-image: linear-gradient(to top, #797ff5, #4148cb);
}

/* Board */

#content, #board {
    width: 1400px;
    height: 900px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
}

#board {
    /*border: 2px solid rgba(255,255,255, .5);*/
}

/* Hexagon */

.hexagon {
    width: 64px;
    height: 128px;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-28px) translateX(-34px) rotate(-60deg);
    position: absolute;
    cursor: pointer;
}


.hexagon-1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.hexagon-2 {
    background-image: url("assets/hexa-0.png");
    background-size: 67px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: rotate(-60deg);
}

.hexagon:not([data-value]) .hexagon-2 {
    filter: grayscale(1);
}

.hexagon.hover .hexagon-2 {
    filter: grayscale(0);
    opacity: .7;
}

.hexagon[data-value="1"] .hexagon-2 {
    background-image: url("assets/hexa-1.png");
}

.hexagon[data-value="2"] .hexagon-2 {
    background-image: url("assets/hexa-2.png");
}

.hexagon[data-value="3"] .hexagon-2 {
    background-image: url("assets/hexa-3.png");
}

.hexagon[data-value="4"] .hexagon-2 {
    background-image: url("assets/hexa-4.png");
}

.hexagon[data-value="5"] .hexagon-2 {
    background-image: url("assets/hexa-5.png");
}

.draggable-hexagon {
    height: 144px;
    width: 140px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-40px);
    z-index: 1000;
}

.dragging {
    pointer-events: none;
}

.draggable-hexagon.rotate-0 .hexagon:nth-child(1) {
    transform: translateY(-28px) translateX(0) rotate(-60deg);
}

.draggable-hexagon.rotate-0 .hexagon:nth-child(2) {
    transform: translateY(-28px) translateX(68px) rotate(-60deg);
}

.draggable-hexagon.rotate-1 .hexagon:nth-child(1) {
    transform: translateY(-58px) translateX(17px) rotate(-60deg);
}

.draggable-hexagon.rotate-1 .hexagon:nth-child(2) {
    transform: translateY(2px) translateX(51px) rotate(-60deg);
}

.draggable-hexagon.rotate-2 .hexagon:nth-child(1) {
    transform: translateY(-58px) translateX(51px) rotate(-60deg);
}

.draggable-hexagon.rotate-2 .hexagon:nth-child(2) {
    transform: translateY(2px) translateX(17px) rotate(-60deg);
}

/* Player */

.player {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.lost {
    filter: grayscale(1);
}

.player-1 {
    left: 0;
    top: 0;
}

.player-2 {
    right:  0;
    top: 0;
}

.star {
    width: 32px;
    height: 32px;
    background-image: url("assets/star.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 9000;
    position: absolute;
    pointer-events: none;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    z-index: 90000;
}

.modal-dialog {
    padding: 2rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.modal-body {
    background-color: #fff;
    padding: 2rem;
    border-radius: .4rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.08);
}

.hide {
    display: none;
}